[functions]
  directory = "netlify/functions"

[dev]
  command = "npm run dev:vite"
  targetPort = 3000
  port = 8888
  autoLaunch = false

[[headers]]
  for = "/.netlify/functions/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"
    Access-Control-Allow-Headers = "Content-Type"
    Access-Control-Allow-Methods = "GET, POST, OPTIONS"
